  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

  @import 'abstracts/_var.scss',
  'abstracts/_typography.scss';

  @import 'components/tabs',
  'components/grid',
  'components/tooltip';

  i,
  rem {
    color: rgb(138, 116, 116);
    font-weight: 300;
    font-size: 0.5em;
  }

  .ui-widget-content {
    border: none;
  }

  .ui-widget.ui-widget-content {
    border: none;
  }

  input[type="radio"] {
    margin: 10px 0 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    cursor: pointer;

    &:checked {
        background-color: $clr_s;
        border-color: $clr_s;
    }
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.box {
  cursor: pointer;
  //padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 10px;
  margin-top: 5px;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.up {
  transform: rotate(-180deg); /* Rota la flecha hacia arriba */
}
