.grid-SRH_ervices {
  display: grid;
  grid-template-columns: minmax(250px, auto) repeat(5, 1fr);
  grid-gap: 0px;
  border-top: 0.5px solid $momentum_clr10;
  border-right: 0.5px solid $momentum_clr10;
  margin-bottom: 20px;

  .grid-header {
    background-color: $momentum_clr8;
    color: $momentum_clr9;
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid $momentum_clr10;
    position: sticky;
    top: 48px;
    z-index: 10;
  }

  .grid-cell {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 0.5px solid $momentum_clr10;
    border-left: 0.5px solid $momentum_clr10;
    min-width: 90px;
    input {
      margin: auto 0;
      width: 90px;
    }
  }

  .grid-cell-highlight {
    background-color: #f0e4f7;
  }
}

.grid-people_reached {
  display: grid;
  grid-template-columns: minmax(250px, auto) repeat(5, 1fr);
  grid-gap: 0px;
  border-top: 0.5px solid $momentum_clr10;
  border-right: 0.5px solid $momentum_clr10;
  margin-bottom: 20px;
  .grid-header {
    background-color: $momentum_clr8;
    color: $momentum_clr9;
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid $momentum_clr10;
  }
  .grid-cell {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 0.5px solid $momentum_clr10;
    border-left: 0.5px solid $momentum_clr10;
    min-width: 90px;
    input {
      margin: auto 0;
      width: 90px;
    }
  }
  .grid-cell-highlight {
    background-color: #f0e4f7;
  }
}

.grid-commodities {
  display: grid;
  grid-template-columns: minmax(250px, auto) repeat(10, 1fr);
  grid-gap: 0px;
  border-top: 0.5px solid $momentum_clr10;
  border-right: 0.5px solid $momentum_clr10;
  margin-bottom: 20px;

  .grid-header {
    background-color: $momentum_clr8;
    color: $momentum_clr9;
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid $momentum_clr10;
    position: sticky;
    top: 48px;
    z-index: 10;
  }
  .grid-cell {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 0.5px solid $momentum_clr10;
    border-left: 0.5px solid $momentum_clr10;
    min-width: 90px;
    input {
      margin: auto 0;
      width: 90px;
    }
  }
  .grid-cell-highlight {
    background-color: #f0e4f7;
  }
}

.grid-CSE {
  display: grid;
  grid-template-columns: minmax(250px, auto) repeat(3, 1fr);
  grid-gap: 0px;
  border-top: 0.5px solid $momentum_clr10;
  border-right: 0.5px solid $momentum_clr10;
  margin-bottom: 20px;
  .grid-header {
    background-color: $momentum_clr8;
    color: $momentum_clr9;
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid $momentum_clr10;
  }
  .grid-cell {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 0.5px solid $momentum_clr10;
    border-left: 0.5px solid $momentum_clr10;
    min-width: 90px;
    input {
      margin: auto 0;
      width: 90px;
    }
  }
  .grid-cell-highlight {
    background-color: #f0e4f7;
  }
}

.grid-OIES {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  border-top: 0.5px solid $momentum_clr10;
  border-right: 0.5px solid $momentum_clr10;
  margin-bottom: 20px;
  .grid-header {
    background-color: $momentum_clr8;
    color: $momentum_clr9;
    padding: 10px;
    text-align: center;
    border-bottom: 0.5px solid $momentum_clr10;
  }
  .grid-cell {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 0.5px solid $momentum_clr10;
    border-left: 0.5px solid $momentum_clr10;
    min-width: 200px;

    .grid-number {
      float: left;
      width: 32px;
      height: auto;
      border-right: 0.5px solid $momentum_clr10;
    }
    .grid-data {
      float: left;
      width: calc(100% - 42px);
      margin-right: 8px;
      input {
        margin: auto 0;
        width: 90px;
      }
    }
  }
  .grid-cell-highlight {
    background-color: #f0e4f7;
  }
}

/* descipt tab */

.grid-tab_descript {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  margin-bottom: 20px;

  .grid-row {
    text-align: left;

    textarea {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.grid-textarea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 20px 0;

  .grid-row {
    text-align: left;

    textarea {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

/* extras */

.subtitle {
  text-align: left;
  background-color: $momentum_clr10 !important;
  padding: 4px 10px !important;
}

.title_row {
  text-align: left;
}

.data {
  text-align: right;
}

.totals {
  color: $momentum_clr9 !important;
  background-color: $momentum_clr8 !important;
}

.lst {
  padding-left: 30px !important;
}

.grid_cell_merge2 {
  grid-column: span 2;
}

.grid_cell_merge4 {
  grid-column: span 4;

  textarea {
    width: 100% !important;
    height: 100% !important;
  }
}

.grid_cell_merge6 {
  grid-column: span 6;
}

.grid_cell_merge11 {
  grid-column: span 11;
}

.dotted_list {
  list-style-type: disc;
  padding-left: 50px;

  li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
  }
}
