.tooltip-target {
    position: relative;
    display: inline-block;
 cursor: pointer;
}

.tooltip-content {
    display: block;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 4px;
    bottom: -28px;
    left: 60px;
    transform: translateX(-50%);
    z-index: 999;
}